Repository project-march/hardware-interface: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

Fix tests and cmake
  march_hardware/CMakeLists.txt
  march_hardware_builder/CMakeLists.txt
  march_hardware_builder/test/joint_builder_test.cpp
Due: test

Create Motor Controller interface methods
  march_hardware/include/march_hardware/motor_controller/odrive/odrive.h
  march_hardware/include/march_hardware/motor_controller/odrive/odrive_endpoint.h
  march_hardware/include/march_hardware/motor_controller/odrive/odrive_enums.h
  march_hardware/include/march_hardware/motor_controller/odrive/odrive_motor.h
  march_hardware/include/march_hardware/motor_controller/odrive/usb_master.h
  march_hardware/src/odrive/odrive.cpp
  march_hardware/src/odrive/odrive_endpoint.cpp
  march_hardware/src/odrive/odrive_motor.cpp
  march_hardware/src/odrive/usb_master.cpp
  march_hardware_builder/include/march_hardware_builder/hardware_builder.h
  march_hardware_builder/src/hardware_builder.cpp
  march_hardware_builder/test/joint_builder_test.cpp
Due: production, test

fix return type of methods
  march_hardware/include/march_hardware/joint.h
  march_hardware/include/march_hardware/motor_controller/imotioncube/imotioncube.h
  march_hardware/include/march_hardware/motor_controller/motor_controller.h
  march_hardware/include/march_hardware/motor_controller/odrive/odrive.h
  march_hardware/include/march_hardware/motor_controller/odrive/odrive_motor.h
  march_hardware/src/imotioncube/imotioncube.cpp
  march_hardware/src/joint.cpp
  march_hardware/src/odrive/odrive_motor.cpp
  march_hardware/test/mocks/mock_motor_controller.h
Due: production, test

Make (empty) implementation of the remaining template methods
  march_hardware/include/march_hardware/ethercat/slave.h
  march_hardware/include/march_hardware/motor_controller/imotioncube/imotioncube.h
  march_hardware/include/march_hardware/motor_controller/motor_controller.h
  march_hardware/include/march_hardware/motor_controller/odrive/odrive_enums.h
  march_hardware/include/march_hardware/motor_controller/odrive/odrive_motor.h
  march_hardware/include/march_hardware/motor_controller/odrive/odrive_states.h
  march_hardware/src/imotioncube/imotioncube.cpp
  march_hardware/src/odrive/odrive_motor.cpp
  march_hardware/test/mocks/mock_motor_controller.h
  march_hardware_builder/src/hardware_builder.cpp
Due: production, test

Change IU torque to Ampere
  march_hardware/include/march_hardware/motor_controller/imotioncube/imotioncube.h
  march_hardware/include/march_hardware/motor_controller/motor_controller.h
  march_hardware/include/march_hardware/motor_controller/odrive/odrive_enums.h
  march_hardware/include/march_hardware/motor_controller/odrive/odrive_motor.h
  march_hardware/src/imotioncube/imotioncube.cpp
  march_hardware/src/odrive/odrive_motor.cpp
  march_hardware/test/mocks/mock_motor_controller.h
  march_hardware_interface/include/march_hardware_interface/march_hardware_interface.h
  march_hardware_interface/src/march_hardware_interface.cpp
Due: production, test

check communication after fetching joint
  march_hardware/src/march_robot.cpp
Due: production

Set odrive config to creation in hardware_builder.cpp
  march_hardware_builder/src/hardware_builder.cpp
Due: production

Add error messages and update initialisation.
  march_hardware/include/march_hardware/motor_controller/odrive/odrive.h
  march_hardware/include/march_hardware/motor_controller/odrive/odrive_enums.h
  march_hardware/include/march_hardware/motor_controller/odrive/odrive_motor.h
  march_hardware/include/march_hardware/motor_controller/odrive/odrive_states.h
  march_hardware/src/odrive/odrive_motor.cpp
Due: production

fixing clang format
  march_hardware/src/march_robot.cpp
  march_hardware/src/odrive/odrive_motor.cpp
Due: production

Clang
  march_hardware/include/march_hardware/motor_controller/odrive/odrive_states.h
  march_hardware/src/imotioncube/imotioncube.cpp
  march_hardware/src/odrive/odrive_motor.cpp
  march_hardware_builder/src/hardware_builder.cpp
Due: production

Added the configuration of the Json file to the odrive object.
  march_hardware/config/march_odrive.json
  march_hardware/include/march_hardware/motor_controller/odrive/odrive_enums.h
  march_hardware/include/march_hardware/motor_controller/odrive/odrive_motor.h
  march_hardware/src/odrive/odrive.cpp
  march_hardware/src/odrive/odrive_motor.cpp
  march_hardware_builder/src/hardware_builder.cpp
Due: production

Updated the configurations to every valid type
  march_hardware/config/march_odrive.json
Due: none

Fix some bugs
  march_hardware/config/march_odrive.json
  march_hardware/include/march_hardware/joint.h
  march_hardware/src/joint.cpp
  march_hardware/src/odrive/odrive_motor.cpp
  march_hardware_builder/include/march_hardware_builder/allowed_robot.h
  march_hardware_builder/robots/odrive_test_joint_rotational.yaml
  march_hardware_interface/src/march_hardware_interface.cpp
Due: production

Add two_odrive_joints robot
  march_hardware_builder/robots/two_odrive_joints.yaml
  march_hardware_interface/config/two_odrive_joints/controllers.yaml
Due: none

Add two_odrive_joints robot #2
  march_hardware_builder/include/march_hardware_builder/allowed_robot.h
  march_hardware_interface/src/march_hardware_interface.cpp
Due: production

Remove one joint
  march_hardware_builder/robots/two_odrive_joints.yaml
  march_hardware_interface/config/two_odrive_joints/controllers.yaml
Due: none

Added current control bandwith to the json and updated the format.
  march_hardware/config/march_odrive.json
  march_hardware/src/odrive/odrive.cpp
  march_hardware/src/odrive/odrive_motor.cpp
  march_hardware_builder/include/march_hardware_builder/allowed_robot.h
Due: production

updated json configurations
  march_hardware/config/march_odrive.json
Due: none

Read parameters only once each cycle
  march_hardware/include/march_hardware/motor_controller/odrive/odrive.h
  march_hardware/include/march_hardware/motor_controller/odrive/odrive_motor.h
  march_hardware/src/odrive/odrive.cpp
  march_hardware/src/odrive/odrive_motor.cpp
Due: production

added read after the initiation.
  march_hardware/src/odrive/odrive_motor.cpp
Due: production

Revert generalise ethercat naming
  march_hardware/include/march_hardware/march_robot.h
  march_hardware/src/march_robot.cpp
  march_hardware_builder/robots/march3.yaml
  march_hardware_builder/robots/march4.yaml
  march_hardware_builder/robots/pdb.yaml
  march_hardware_builder/robots/test_joint_linear.yaml
  march_hardware_builder/robots/test_joint_rotational.yaml
  march_hardware_builder/src/hardware_builder.cpp
  march_hardware_interface/include/march_hardware_interface/march_hardware_interface.h
  march_hardware_interface/src/march_hardware_interface.cpp
  march_hardware_interface/src/march_hardware_interface_node.cpp
Due: production

Use Ampere instead of IU for torque, and change input/return type of some methods
  march_hardware/include/march_hardware/ethercat/slave.h
  march_hardware/include/march_hardware/joint.h
  march_hardware/include/march_hardware/motor_controller/imotioncube/imotioncube.h
  march_hardware/include/march_hardware/motor_controller/motor_controller.h
  march_hardware/src/imotioncube/imotioncube.cpp
  march_hardware/src/joint.cpp
  march_hardware/src/march_robot.cpp
  march_hardware/test/mocks/mock_motor_controller.h
  march_hardware_interface/include/march_hardware_interface/march_hardware_interface.h
  march_hardware_interface/src/march_hardware_interface.cpp
Due: production, test

Add usb communication option
  march_hardware/include/march_hardware/march_robot.h
  march_hardware/src/march_robot.cpp
  march_hardware_builder/include/march_hardware_builder/allowed_robot.h
  march_hardware_builder/include/march_hardware_builder/hardware_builder.h
  march_hardware_builder/robots/odrive_test_joint_rotational.yaml
  march_hardware_builder/src/hardware_builder.cpp
Due: production

Pass usb_master to create_joints
  march_hardware/src/march_robot.cpp
  march_hardware_builder/include/march_hardware_builder/hardware_builder.h
  march_hardware_builder/src/hardware_builder.cpp
Due: production

createOdrive and move odrive objects to march_hardware
  march_hardware/CMakeLists.txt
  march_hardware/config/march_odrive.json
  march_hardware/include/march_hardware/motor_controller/odrive/odrive.h
  march_hardware/include/march_hardware/motor_controller/odrive/odrive_endpoint.h
  march_hardware/include/march_hardware/motor_controller/odrive/odrive_enums.h
  march_hardware/include/march_hardware/motor_controller/odrive/odrive_motor.h
  march_hardware/include/march_hardware/motor_controller/odrive/usb_master.h
  march_hardware/package.xml
  march_hardware/src/odrive/odrive.cpp
  march_hardware/src/odrive/odrive_endpoint.cpp
  march_hardware/src/odrive/odrive_motor.cpp
  march_hardware/src/odrive/usb_master.cpp
  march_hardware_builder/CMakeLists.txt
  march_hardware_builder/include/march_hardware_builder/hardware_builder.h
  march_hardware_builder/robots/odrive_test_joint_rotational.yaml
  march_hardware_builder/src/hardware_builder.cpp
Due: production

fix return type of methods
  march_hardware/include/march_hardware/motor_controller/odrive/odrive.h
  march_hardware/include/march_hardware/motor_controller/odrive/odrive_motor.h
  march_hardware/src/odrive/odrive_motor.cpp
Due: production

Make (empty) implementation of the remaining template methods
  march_hardware/include/march_hardware/motor_controller/odrive/odrive_enums.h
  march_hardware/include/march_hardware/motor_controller/odrive/odrive_motor.h
  march_hardware/include/march_hardware/motor_controller/odrive/odrive_states.h
  march_hardware/src/odrive/odrive_motor.cpp
  march_hardware_builder/src/hardware_builder.cpp
Due: production

Set testjoint controllers yaml to torque mode
  march_hardware_builder/robots/test_joint_rotational.yaml
  march_hardware_interface/config/test_joint_rotational/controllers.yaml
Due: none

Change IU torque to Ampere
  march_hardware/include/march_hardware/motor_controller/imotioncube/imotioncube.h
  march_hardware/include/march_hardware/motor_controller/odrive/odrive_enums.h
  march_hardware/include/march_hardware/motor_controller/odrive/odrive_motor.h
  march_hardware/src/imotioncube/imotioncube.cpp
  march_hardware/src/odrive/odrive_motor.cpp
  march_hardware_interface/include/march_hardware_interface/march_hardware_interface.h
Due: production

Clang
  march_hardware/include/march_hardware/motor_controller/odrive/odrive_states.h
  march_hardware/src/imotioncube/imotioncube.cpp
  march_hardware/src/odrive/odrive_motor.cpp
Due: production

Path conditions:
  production: any of: */src/**/*, */src/*, */include/march_*/*, */include/march_*/**/*
  test: any of: */test/**/*, */test/*
