Repository project-march/hardware-interface: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

codecov.yml:

coverage:
  status:
    project:
      default: off
      production:
        target: auto
        flags:
          - production
fixes:
  - "src/hardware-interface/::"
flags:
  production:
    paths:
      - "*/src/**/*"
      - "*/src/*"
      - "*/include/march_*/*"
      - "*/include/march_*/**/*"
  test:
    paths:
      - "*/test/**/*"
      - "*/test/*"

Reverse encoder counting
  march_hardware/src/odrive/odrive_motor.cpp
Due: production

Add two_odrive_joints robot
  march_hardware_builder/robots/two_odrive_joints.yaml
  march_hardware_interface/config/two_odrive_joints/controllers.yaml
Due: none

updated json configurations
  march_hardware/config/march_odrive.json
Due: none

Added all the configurations to launch two motors
  march_hardware/config/right_hip_fe.json
  march_hardware/config/right_knee.json
  march_hardware/include/march_hardware/motor_controller/odrive/usb_master.h
  march_hardware/src/odrive/usb_master.cpp
  march_hardware_builder/include/march_hardware_builder/allowed_robot.h
  march_hardware_builder/include/march_hardware_builder/hardware_builder.h
  march_hardware_builder/robots/two_odrive_joints.yaml
  march_hardware_builder/src/hardware_builder.cpp
  march_hardware_interface/config/two_odrive_joints/controllers.yaml
Due: production

Added current control bandwith to the json and updated the format.
  march_hardware/config/march_odrive.json
  march_hardware/src/odrive/odrive.cpp
  march_hardware/src/odrive/odrive_motor.cpp
  march_hardware_builder/include/march_hardware_builder/allowed_robot.h
Due: production

Add two_odrive_joints robot #2
  march_hardware_builder/include/march_hardware_builder/allowed_robot.h
  march_hardware_interface/src/march_hardware_interface.cpp
Due: production

added read after the initiation.
  march_hardware/src/odrive/odrive_motor.cpp
Due: production

Fix some bugs
  march_hardware/config/march_odrive.json
  march_hardware/src/odrive/odrive_motor.cpp
  march_hardware_builder/include/march_hardware_builder/allowed_robot.h
  march_hardware_builder/robots/odrive_test_joint_rotational.yaml
  march_hardware_interface/src/march_hardware_interface.cpp
Due: production

Fix merge conflicts
  march_hardware/include/march_hardware/motor_controller/odrive/odrive_states.h
  march_hardware_builder/robots/march3.yaml
  march_hardware_builder/robots/march4.yaml
  march_hardware_builder/robots/pdb.yaml
  march_hardware_builder/robots/test_joint_linear.yaml
  march_hardware_builder/robots/test_joint_rotational.yaml
  march_hardware_interface/src/march_hardware_interface_node.cpp
Due: production

Fix comment
  march_hardware_interface/src/march_hardware_interface.cpp
Due: production

Rename variable in header
  march_hardware/include/march_hardware/motor_controller/imotioncube/imotioncube.h
Due: production

Return smart pointer instead of reference and minor fixes
  march_hardware/include/march_hardware/joint.h
  march_hardware/include/march_hardware/motor_controller/imotioncube/imotioncube.h
  march_hardware/include/march_hardware/motor_controller/imotioncube/imotioncube_states.h
  march_hardware/include/march_hardware/motor_controller/motor_controller.h
  march_hardware/include/march_hardware/motor_controller/motor_controller_states.h
  march_hardware/src/ethercat/ethercat_master.cpp
  march_hardware/src/joint.cpp
  march_hardware/test/mocks/mock_motor_controller.h
  march_hardware_interface/src/march_hardware_interface.cpp
Due: production, test

Return smart pointer instead of reference and minor fixes #2
  march_hardware/src/imotioncube/imotioncube.cpp
Due: production

Create slave_list object
  march_hardware/include/march_hardware/ethercat/ethercat_master.h
  march_hardware/src/ethercat/ethercat_master.cpp
  march_hardware/src/march_robot.cpp
Due: production

Pass a slave list to ethercat master
  march_hardware/include/march_hardware/ethercat/ethercat_master.h
  march_hardware/include/march_hardware/joint.h
  march_hardware/include/march_hardware/march_robot.h
  march_hardware/src/ethercat/ethercat_master.cpp
  march_hardware/src/joint.cpp
  march_hardware/src/march_robot.cpp
  march_hardware_builder/include/march_hardware_builder/hardware_builder.h
  march_hardware_builder/src/hardware_builder.cpp
Due: production

Fix tests
  march_hardware_builder/test/absolute_encoder_builder_test.cpp
  march_hardware_builder/test/imc_builder_test.cpp
  march_hardware_builder/test/incremental_encoder_builder_test.cpp
  march_hardware_builder/test/joint_builder_test.cpp
  march_hardware_builder/test/pdb_builder_test.cpp
Due: test

Fix tests
  march_hardware/include/march_hardware/ethercat/ethercat_master.h
  march_hardware/include/march_hardware/march_robot.h
  march_hardware/src/ethercat/ethercat_master.cpp
  march_hardware/src/march_robot.cpp
  march_hardware_builder/include/march_hardware_builder/hardware_builder.h
  march_hardware_builder/src/hardware_builder.cpp
  march_hardware_builder/test/absolute_encoder_builder_test.cpp
  march_hardware_builder/test/imc_builder_test.cpp
  march_hardware_builder/test/incremental_encoder_builder_test.cpp
  march_hardware_builder/test/joint_builder_test.cpp
Due: production, test

Remove initialize from Joint and MotorController
  march_hardware/include/march_hardware/ethercat/ethercat_master.h
  march_hardware/include/march_hardware/ethercat/slave.h
  march_hardware/include/march_hardware/joint.h
  march_hardware/include/march_hardware/motor_controller/imotioncube/imotioncube.h
  march_hardware/include/march_hardware/motor_controller/motor_controller.h
  march_hardware/src/ethercat/ethercat_master.cpp
  march_hardware/src/imotioncube/imotioncube.cpp
  march_hardware/src/joint.cpp
  march_hardware/src/march_robot.cpp
  march_hardware/test/joint_test.cpp
Due: production, test

Move hasValidSlaves() to ethercat master
  march_hardware/include/march_hardware/ethercat/ethercat_master.h
  march_hardware/include/march_hardware/march_robot.h
  march_hardware/src/ethercat/ethercat_master.cpp
  march_hardware/src/march_robot.cpp
  march_hardware_builder/include/march_hardware_builder/hardware_builder.h
  march_hardware_builder/src/hardware_builder.cpp
Due: production

Remove getSlaveIndex from MotorController
  march_hardware/include/march_hardware/ethercat/slave.h
  march_hardware/include/march_hardware/joint.h
  march_hardware/include/march_hardware/march_robot.h
  march_hardware/include/march_hardware/motor_controller/imotioncube/imotioncube.h
  march_hardware/include/march_hardware/motor_controller/motor_controller.h
  march_hardware/src/ethercat/ethercat_master.cpp
  march_hardware/src/imotioncube/imotioncube.cpp
  march_hardware/src/joint.cpp
  march_hardware/test/mocks/mock_joint.h
  march_hardware/test/mocks/mock_motor_controller.h
  march_hardware_builder/test/joint_builder_test.cpp
Due: production, test

Actually use make_shared for shared_ptrs
  march_hardware/include/march_hardware/ethercat/ethercat_master.h
  march_hardware/src/imotioncube/imotioncube.cpp
  march_hardware_builder/src/hardware_builder.cpp
Due: production

Add docstring
  march_hardware/include/march_hardware/ethercat/ethercat_master.h
Due: production

change warning
  march_hardware/src/imotioncube/imotioncube.cpp
Due: production

more
  march_hardware/src/imotioncube/imotioncube.cpp
Due: production

Update README.md
  README.md
Due: none
