Repository project-march/hardware-interface: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

codecov.yml:

coverage:
  status:
    project:
      default: off
      production:
        target: auto
        flags:
          - production
fixes:
  - "src/hardware-interface/::"
flags:
  production:
    paths:
      - "*/src/**/*"
      - "*/src/*"
      - "*/include/march_*/*"
      - "*/include/march_*/**/*"
  test:
    paths:
      - "*/test/**/*"
      - "*/test/*"

Fix writing to file
  march_hardware/src/EtherCAT/EthercatMaster.cpp
Due: production

Increase ethercat thread priority
  march_hardware/src/EtherCAT/EthercatMaster.cpp
Due: production

Add motor voltage reading and publishing
  march_hardware/include/march_hardware/IMotionCube.h
  march_hardware/include/march_hardware/IMotionCubeState.h
  march_hardware/include/march_hardware/Joint.h
  march_hardware/src/IMotionCube.cpp
  march_hardware/src/Joint.cpp
  march_hardware_interface/src/march_hardware_interface.cpp
Due: production

Clang format changes
  march_hardware/src/IMotionCube.cpp
Due: production

Changed read statement to 32 bit to test
  march_hardware/src/IMotionCube.cpp
Due: production

Changed motor_voltage to 32 bit to test
  march_hardware/src/IMotionCube.cpp
Due: production

Change build to noetic
  .rosinstall
  .travis.yml
Due: none

Fix casting enum to int
  march_hardware/src/ethercat/pdo_map.cpp
Due: production

Fix single imu publisher
  march_imu_manager/include/march_imu_manager/wireless_master.h
  march_imu_manager/lib/include/xsens/xsens_compat.h
  march_imu_manager/src/main.cpp
  march_imu_manager/src/wireless_master.cpp
Due: production

Manually add unreleased noetic packages
  .rosinstall
Due: none

Remove unnecessary soem include dirs
  march_hardware/CMakeLists.txt
Due: none

Fixed reading as unsigned integer to signed integer
  march_hardware/src/imotioncube/imotioncube.cpp
Due: production

Fixed wrong calculation
  march_hardware/src/joint.cpp
Due: production

Changed motor voltage and motor current return types from float to double
  march_hardware/include/march_hardware/imotioncube/imotioncube.h
  march_hardware/include/march_hardware/imotioncube/imotioncube_state.h
  march_hardware/include/march_hardware/joint.h
  march_hardware/src/imotioncube/imotioncube.cpp
  march_hardware/src/joint.cpp
  march_hardware/test/mocks/mock_imotioncube.h
Due: production, test

Remove soem from rosinstall
  .rosinstall
Due: none

Create MotorController abstract class
  march_hardware/include/march_hardware/imotioncube/imotioncube.h
  march_hardware/include/march_hardware/imotioncube/motor_controller.h
  march_hardware/src/joint.cpp
  march_hardware_builder/src/hardware_builder.cpp
Due: production

Have Joint.cpp use controller instead of imc
  march_hardware/CMakeLists.txt
  march_hardware/include/march_hardware/imotioncube/imotioncube.h
  march_hardware/include/march_hardware/imotioncube/motor_controller.h
  march_hardware/include/march_hardware/joint.h
  march_hardware/src/joint.cpp
Due: production

Generalise hardware_builder, hardware_interface and ehtercat master and fix build
  march_hardware/CMakeLists.txt
  march_hardware/include/march_hardware/imotioncube/imotioncube.h
  march_hardware/include/march_hardware/imotioncube/imotioncube_state.h
  march_hardware/include/march_hardware/imotioncube/motor_controller.h
  march_hardware/include/march_hardware/imotioncube/motor_controller_state.h
  march_hardware/include/march_hardware/joint.h
  march_hardware/include/march_hardware/march_robot.h
  march_hardware/src/ethercat/ethercat_master.cpp
  march_hardware/src/imotioncube/imotioncube.cpp
  march_hardware/src/joint.cpp
  march_hardware/src/march_robot.cpp
  march_hardware_builder/CMakeLists.txt
  march_hardware_builder/src/hardware_builder.cpp
  march_hardware_interface/CMakeLists.txt
  march_hardware_interface/include/march_hardware_interface/march_hardware_interface.h
  march_hardware_interface/src/march_hardware_interface.cpp
Due: production

Fix tests #1
  march_hardware/CMakeLists.txt
  march_hardware/include/march_hardware/imotioncube/imotioncube.h
  march_hardware/include/march_hardware/joint.h
  march_hardware/test/joint_test.cpp
  march_hardware/test/mocks/mock_imotioncube.h
  march_hardware_builder/CMakeLists.txt
  march_hardware_builder/test/joint_builder_test.cpp
  march_hardware_interface/CMakeLists.txt
Due: production, test

Fix tests #2
  march_hardware/include/march_hardware/imotioncube/imotioncube.h
  march_hardware/include/march_hardware/imotioncube/motor_controller.h
  march_hardware/test/joint_test.cpp
Due: production, test

Throw a fatal when a joint has no controller defined and remove runtime checks. Make some small fixes
  march_hardware/include/march_hardware/imotioncube/imotioncube.h
  march_hardware/include/march_hardware/imotioncube/imotioncube_state.h
  march_hardware/include/march_hardware/imotioncube/motor_controller.h
  march_hardware/include/march_hardware/imotioncube/motor_controller_state.h
  march_hardware/include/march_hardware/joint.h
  march_hardware/include/march_hardware/march_robot.h
  march_hardware/src/imotioncube/imotioncube.cpp
  march_hardware/src/joint.cpp
  march_hardware_builder/src/hardware_builder.cpp
  march_hardware_interface/src/march_hardware_interface.cpp
Due: production

Fix error msg
  march_hardware/include/march_hardware/joint.h
  march_hardware/src/imotioncube/imotioncube.cpp
  march_hardware/src/joint.cpp
  march_hardware_builder/robots/march4.yaml
  march_hardware_interface/src/march_hardware_interface.cpp
Due: production

Fix typos
  march_hardware/src/march_robot.cpp
  march_hardware_builder/robots/march4.yaml
Due: production

Namechange MotorControllerState to MotorControllerStates
  march_hardware/include/march_hardware/imotioncube/imotioncube.h
  march_hardware/include/march_hardware/imotioncube/motor_controller.h
  march_hardware/include/march_hardware/imotioncube/motor_controller_state.h
  march_hardware/include/march_hardware/joint.h
  march_hardware/src/imotioncube/imotioncube.cpp
  march_hardware/src/joint.cpp
  march_hardware_interface/include/march_hardware_interface/march_hardware_interface.h
  march_hardware_interface/src/march_hardware_interface.cpp
Due: production

Fix clang
  march_hardware/src/imotioncube/imotioncube.cpp
  march_hardware/src/joint.cpp
  march_hardware_interface/src/march_hardware_interface.cpp
Due: production

Remove tests untill it works
  march_hardware/test/joint_test.cpp
Due: test

Fix build
  march_hardware/CMakeLists.txt
Due: none

copy from older
  march_hardware/src/ethercat/ethercat_master.cpp
Due: production

copy from old
  march_hardware/src/ethercat/ethercat_master.cpp
Due: production

Generalise imc_state change some naming and add docstrings
  march_hardware/CMakeLists.txt
  march_hardware/include/march_hardware/imotioncube/motor_controller.h
  march_hardware/include/march_hardware/joint.h
  march_hardware/include/march_hardware/motor_controller/actuation_mode.h
  march_hardware/include/march_hardware/motor_controller/imotioncube/imotioncube.h
  march_hardware/include/march_hardware/motor_controller/imotioncube/imotioncube_state.h
  march_hardware/include/march_hardware/motor_controller/imotioncube/imotioncube_target_state.h
  march_hardware/include/march_hardware/motor_controller/motor_controller.h
  march_hardware/include/march_hardware/motor_controller/motor_controller_state.h
  march_hardware/src/imotioncube/imotioncube.cpp
  march_hardware/src/imotioncube/imotioncube_target_state.cpp
  march_hardware/src/joint.cpp
  march_hardware/test/imotioncube/imotioncube_test.cpp
  march_hardware/test/joint_test.cpp
  march_hardware/test/mocks/mock_imotioncube.h
  march_hardware_builder/include/march_hardware_builder/hardware_builder.h
  march_hardware_builder/src/hardware_builder.cpp
  march_hardware_builder/test/imc_builder_test.cpp
  march_hardware_builder/test/joint_builder_test.cpp
  march_hardware_interface/include/march_hardware_interface/march_hardware_interface.h
  march_hardware_interface/src/march_hardware_interface.cpp
Due: production, test

Moved checkState and getErrorStatus from MotorController to MotorControllerStatus
  march_hardware/CMakeLists.txt
  march_hardware/include/march_hardware/joint.h
  march_hardware/include/march_hardware/motor_controller/imotioncube/imotioncube.h
  march_hardware/include/march_hardware/motor_controller/imotioncube/imotioncube_state_of_operation.h
  march_hardware/include/march_hardware/motor_controller/imotioncube/imotioncube_states.h
  march_hardware/include/march_hardware/motor_controller/motor_controller.h
  march_hardware/include/march_hardware/motor_controller/motor_controller_state.h
  march_hardware/include/march_hardware/motor_controller/motor_controller_states.h
  march_hardware/src/ethercat/ethercat_master.cpp
  march_hardware/src/imotioncube/imotioncube.cpp
  march_hardware/src/joint.cpp
  march_hardware_builder/include/march_hardware_builder/hardware_builder.h
  march_hardware_interface/src/march_hardware_interface.cpp
Due: production

Clang
  march_hardware/src/imotioncube/imotioncube.cpp
Due: production

Reduce ethercat dependency in naming
  march_hardware/include/march_hardware/march_robot.h
  march_hardware/src/ethercat/sdo_interface.cpp
  march_hardware/src/march_robot.cpp
  march_hardware_builder/robots/march3.yaml
  march_hardware_builder/robots/march4.yaml
  march_hardware_builder/robots/pdb.yaml
  march_hardware_builder/robots/test_joint_linear.yaml
  march_hardware_builder/robots/test_joint_rotational.yaml
  march_hardware_builder/src/hardware_builder.cpp
  march_hardware_interface/include/march_hardware_interface/march_hardware_interface.h
  march_hardware_interface/src/march_hardware_interface.cpp
  march_hardware_interface/src/march_hardware_interface_node.cpp
Due: production

Mock motor controller and fix bugs
  march_hardware/CMakeLists.txt
  march_hardware/include/march_hardware/march_robot.h
  march_hardware/include/march_hardware/motor_controller/motor_controller.h
  march_hardware/src/march_robot.cpp
  march_hardware/test/joint_test.cpp
  march_hardware/test/mocks/mock_motor_controller.h
Due: production, test

copy all imc files to ingenia files
  march_hardware/include/march_hardware/motor_controller/ingenia/ingenia.h
  march_hardware/include/march_hardware/motor_controller/ingenia/ingenia_state_of_operation.h
  march_hardware/include/march_hardware/motor_controller/ingenia/ingenia_states.h
  march_hardware/include/march_hardware/motor_controller/ingenia/ingenia_target_state.h
  march_hardware/src/ingenia/ingenia.cpp
  march_hardware/src/ingenia/ingenia_target_state.cpp
Due: production

change all mentions of ImotionCube to Ingenia in the Ingenia class
  march_hardware/include/march_hardware/motor_controller/ingenia/ingenia.h
  march_hardware/src/ingenia/ingenia.cpp
Due: production

add ingenia pdo object names
  march_hardware/include/march_hardware/ethercat/pdo_map.h
  march_hardware/src/ethercat/pdo_map.cpp
Due: production

Add usb communication option
  march_hardware/include/march_hardware/march_robot.h
  march_hardware/src/march_robot.cpp
  march_hardware_builder/include/march_hardware_builder/allowed_robot.h
  march_hardware_builder/include/march_hardware_builder/hardware_builder.h
  march_hardware_builder/robots/odrive_test_joint_rotational.yaml
  march_hardware_builder/src/hardware_builder.cpp
Due: production

Pass usb_master to create_joints
  march_hardware/src/march_robot.cpp
  march_hardware_builder/include/march_hardware_builder/hardware_builder.h
  march_hardware_builder/src/hardware_builder.cpp
Due: production

createOdrive and move odrive objects to march_hardware
  march_hardware/CMakeLists.txt
  march_hardware/config/march_odrive.json
  march_hardware/include/march_hardware/motor_controller/odrive/odrive.h
  march_hardware/include/march_hardware/motor_controller/odrive/odrive_endpoint.h
  march_hardware/include/march_hardware/motor_controller/odrive/odrive_enums.h
  march_hardware/include/march_hardware/motor_controller/odrive/odrive_motor.h
  march_hardware/include/march_hardware/motor_controller/odrive/usb_master.h
  march_hardware/package.xml
  march_hardware/src/odrive/odrive.cpp
  march_hardware/src/odrive/odrive_endpoint.cpp
  march_hardware/src/odrive/odrive_motor.cpp
  march_hardware/src/odrive/usb_master.cpp
  march_hardware_builder/CMakeLists.txt
  march_hardware_builder/include/march_hardware_builder/hardware_builder.h
  march_hardware_builder/robots/odrive_test_joint_rotational.yaml
  march_hardware_builder/src/hardware_builder.cpp
Due: production
